<section id="about_us">
  <div class="container">
    <div class="about-content">
      <picture class="about-image">
        <!-- Desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-us/about-us-desk-min.png    1x,
            /img/about-us/about-us-desk@2x-min.png 2x
          "
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-us/about-us-tab-min.png    1x,
            /img/about-us/about-us-tab@2x-min.png 2x
          "
        />

        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/about-us-mob-min.png    1x,
            /img/about-us/about-us-mob@2x-min.png 2x
          "
        />

        <!-- Fullback image -->
        <img
          src="/img/about-us/about-us-tab-min.png"
          alt="About Us section image"
        />
      </picture>

      <div class="about-text">
        <!-- <div class="logo"> -->
        <a href="index.html" class="about-logo-link">
          <svg class="about-us-logo">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <!-- </div> -->

        <h2 class="epilogue about-us-title">
          About <br class="mobile-break" />ArtistsHub
        </h2>
        <p>
          At ArtistsHub, our mission is to connect music lovers with the artists
          they adore. We strive to create a vibrant community where discovering
          new music is as enjoyable as listening to it.
        </p>
      </div>
    </div>
  </div>
</section>
