<section class="feedback-container" id="feedback">
  <div class="container">
    <div class="feedback-section">
      <div class="swiper-container">
        <div class="swiper-wrapper" id="feedback-wrapper">
          <div class="loader visually-hidden" data-feedback-loader>
            <div class="vinyl-loader">
              <div class="vinyl-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" id="pagination"></div>
      <div class="swiper-buttons">
        <button id="prevBtn" aria-label="Попередній відгук">
          <svg class="more-btn-icon">
            <use href="/img/icons.svg#icon-left-arrow-reviews"></use>
          </svg>
        </button>
        <button class="disabled" id="nextBtn" aria-label="Наступний відгук">
          <svg class="more-btn-icon">
            <use href="/img/icons.svg#icon-right-arrow-reviews"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- /* Button Leav Feedbacks */ -->
  <!-- <button class="leave-feedbacks" type="button" id="leave-feedbacks">
    Leave feedback
  </button> -->
</section>
