<section class="feedback-section" id="reviews">
  <div class="container">
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper" id="feedback-container"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination custom-pagination"></div>
    </div>
    <div class="loader visually-hidden" data-feedback-loader>
      <div class="vinyl-loader">
        <div class="vinyl-center"></div>
      </div>
    </div>
  </div>
</section>
