<div class="backdrop" data-feedback-form>
  <form class="form-main container" autocomplete="off">
    <button class="form-main-btn" href="">
      <svg class="svg-btn" width="32" height="32">
        <use href="../img/vector.svg"></use>
      </svg>
      </svg>
    </button>
    <h4 class="form-par epilogue">
      Submit feedback
    </h4>
    <label class="lab-name">
      Name
      <input type="text" class="form-name" name="user-name" id="user-name" placeholder="Emily" required>
    </label>
    <label class="lab-text">
      Message
      <textarea class="form-text" name="user-comment" id="user-comment" placeholder="Type your message..." rows="8"
        required></textarea>
      <p class="text-inva">Text error</p>
    </label>
    <div class="form-str">
      <svg class="svg-str" width="31" height="29" >
        <use href="../img/sprite.svg"></use>
      </svg>
      <svg class="svg-str" width="31" height="29">
        <use href="../img/sprite.svg"></use>
      </svg>
      <svg class="svg-str" width="31" height="29">
        <use href="../img/sprite.svg"></use>
      </svg>
      <svg class="svg-str" width="31" height="29">
        <use href="../img/sprite.svg"></use>
      </svg>
      <svg class="svg-str" width="31" height="29">
        <use href="../img/sprite.svg"></use>
      </svg>
    </div>
    <button class="form-end-button">Submit</button>
  </form>
</div>
