<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <a href="/index.html" class="footer-logo-hover">
        <svg class="footer-logo logo-tab">
          <use href="/img/icons.svg#icon-logo-text"></use>
        </svg>
        <svg class="footer-logo logo-mob">
          <use href="/img/icons.svg#icon-logo-text-short"></use>
        </svg>
      </a>
      <ul class="f-nav-link">
        <li><a href="#artists">Artists</a></li>
        <li><a href="#about_us">About us</a></li>
        <li><a href="#feedback">Reviews</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="f-social-link">
        <li><a class="f-link-icon" href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank"><svg>
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg></a></li>
        <li><a class="f-link-icon" href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank"><svg>
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg></a></li>
        <li><a class="f-link-icon" href="https://www.youtube.com/" rel="noopener noreferrer" target="_blank"><svg>
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg></a></li>
      </ul>
      <p class="f-text-privacy">&copy; 2025 ArtistsHub. All rights reserved.</p>
    </div>
  </div>
</footer>