<header class="header">
  <div class="container container-header">
    <a class="logo-link" href="./index.html"
      ><svg class="logo-icon" width="119" height="52">
        <use href="/img/icons.svg#icon-logo-text"></use></svg
    ></a>
    <button class="burger-btn" data-menu-open>
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-burger-menu-mob"></use>
      </svg>
    </button>

    <nav class="header-list">
      <ul class="header-list">
        <li><a href="#artists">Artists</a></li>
        <li><a href="#about_us">About Us</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <div class="modal-nav">
      <a class="logo-link" href="./index.html"
        ><svg class="logo-icon" width="119" height="52">
          <use href="/img/icons.svg#icon-logo-text"></use></svg
      ></a>
      <button class="close-menu-btn">
        <svg class="modal-close" width="24" height="24">
          <use href="/img/icons.svg#icon-close-burger-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav-links">
      <a href="#artists">Artists</a>
      <a href="#about_us">About Us</a>
      <a href="#reviews">Reviews</a>
    </nav>
  </div>
</div>
