<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-text">
        <h1 class="hero-title epilogue">
          Discover Your Next Favorite Artist Today
        </h1>
        <p class="hero-para">
          Dive into a world of music discoveries with ArtistsHub – your personal
          guide to the boundless universe of sound. Explore, filter, and learn
          about your favorite artists all in one place.
        </p>
        <a href="#artists" class="hero-nav-btn"
          >Explore Artists
          <svg class="hero-btn-svg" width="24" height="24">
            <use href="/img/icons.svg#icon-right-arrow-explore-artists"></use>
          </svg>
        </a>
      </div>
      <div class="hero-pictures"></div>
    </div>
  </div>
</section>
