.footer {
  padding: 48px 0;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.footer-nav {
  margin-bottom: 48px;
}

.f-nav-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.f-nav-link > li > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  &:hover {
    color: #764191;
  }

  &:focus {
    color: #764191;
  }
}

.footer-logo {
  width: 84px;
  height: 36px;
  display: block;
  margin: 0px auto;
  margin-bottom: 32px;
  fill: #764191;

  &:hover {
    fill: #fff;
  }

  &:focus {
    fill: #fff;
  }
}

.footer-social {
  padding: 24px 0px 16px 0px;
  min-width: 280px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.f-social-link {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.f-link-icon {
  fill: #fff;
  width: 40px;
  height: 40px;
  display: block;

  &:hover {
    fill: #764191;
  }

  &:focus {
    fill: #764191;
  }
}

.f-link-icon > svg {
  width: 40px;
  height: 40px;
}

.f-text-privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

.logo-tab {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    width: 100%;
    padding: 80px 0px;
  }

  .logo-mob {
    display: none;
  }

  .logo-tab {
    display: block;
    width: 116px;
    height: 45px;
  }

  .footer-nav {
    margin-bottom: 80px;
  }

  .footer-logo {
    width: 116px;
    height: 45px;
  }

  .f-nav-link {
    flex-direction: row;
    justify-content: center;
  }

  .footer-social {
    padding: 32px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .f-social-link {
    order: 2;
  }

  .f-text-privacy {
    order: 1;
  }

  .f-social-link {
    margin-bottom: 0px;
  }

  .f-link-icon {
    width: 32px;
    height: 32px;
  }

  .f-link-icon > svg {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
    padding: 80px 64px;
  }

  .f-link-icon {
    width: 24px;
    height: 24px;
  }

  .f-link-icon > svg {
    width: 24px;
    height: 24px;
  }
}
