html {
  scroll-behavior: smooth;
}

#artists,
#about-us,
#reviews {
  scroll-margin-top: 60px;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 12px 6px 20px;
  gap: 121px;
}

.logo-icon {
  fill: #ffffff;
}
.logo-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 9px 12px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.logo-link:hover .logo-icon,
.logo-link:focus .logo-icon {
  fill: #9747ff;
  transform: scale(1.1);
}
.burger-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger-btn svg {
  fill: white;
  transition: fill 0.3s ease;
}
.burger-btn:hover svg,
.burger-btn:focus svg {
  fill: #9747ff;
  transform: scale(1.1);
  opacity: 1;
}
.header-list {
  display: none;
}
.header-list li a:hover,
.header-list li a:focus {
  color: #9747ff;
  transform: scale(1.05);
}
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  visibility: hidden;
}
.is-shown-menu-header {
  visibility: visible;
}
.mobile-menu-container {
  width: 100%;
  height: 100%;
  background-color: #060307;
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 39px;
  align-items: center;
}
.mobile-nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  transition: color 0.3s ease;
}
.mobile-nav-links a:hover,
.mobile-nav-links a:active {
  color: #9747ff;
}
.modal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 20px;
  gap: 121px;
  margin: 0 auto 60px auto;
}
.logo-link {
  flex: 1;
}
.modal-close {
  fill: white;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.close-menu-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: #060307;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-menu-btn:hover svg,
.close-menu-btn:focus svg {
  fill: #9747ff;
  transform: scale(1.1);
  opacity: 1;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #060307;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .burger-btn {
    display: none;
  }
  .header-list {
    display: flex;
    gap: 20px;
  }
  .logo-icon {
    fill: white;
  }
  .container-header {
    padding: 11px 64px;
    gap: 262px;
  }
}
@media screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
  .header-list {
    display: flex;
    gap: 20px;
  }
  .logo-icon {
    fill: white;
  }
  .container-header {
    padding: 11px 64px;
    gap: 935px;
  }
}
