html {
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: 64px;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.container-header {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;
  width: 100%;
  padding: 6px 12px 6px 20px;
}

.header-logo-icon {
  fill: #ffffff;
}
.logo-link {
  width: 119px;
  height: 52px;
  padding: 11px 6px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.header-logo-link:hover .header-logo-icon {
  fill: #9747ff;
  transform: scale(1.1);
}
.burger-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: none;
  border: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger-btn svg {
  fill: white;
  transition: fill 0.3s ease;
}
.burger-btn:hover svg,
.burger-btn:focus svg {
  fill: #9747ff;
  transform: scale(1.1);
  opacity: 1;
}
.header-list-nav {
  display: none;
}
.header-link:focus,
.header-link:hover {
  color: #9747ff;
  transform: scale(1.05);
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  visibility: hidden;
}
.is-shown-menu-header {
  visibility: visible;
}
.mobile-menu-container {
  width: 100%;
  height: 100%;
  background-color: #060307;
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 39px;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.mobile-nav-link {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.mobile-nav-link:hover,
.mobile-nav-link:active {
  color: #9747ff;
}
.modal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 20px;
  width: 100%;
}

.modal-close {
  fill: white;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.close-menu-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: #060307;
  border: 0;
  /*   display: flex;
  align-items: center;
  justify-content: center; */
}
.close-menu-btn:hover svg,
.close-menu-btn:focus svg {
  fill: #9747ff;
  transform: scale(1.1);
  opacity: 1;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #060307;
}
@media screen and (min-width: 768px) {
  body {
    scroll-padding-top: 72px;
  }

  .burger-btn {
    display: none;
  }
  .header-list-nav {
    display: block;
  }
  .header-list {
    display: flex;
    gap: 32px;
  }
  .container-header {
    padding: 11px 64px;
  }

  .header-logo-link:focus .header-logo-icon {
    fill: #9747ff;
    transform: scale(1.1);
  }
}
